#CODEOWNERS file sets permissions for side-branches

#district_12:
#  @InochiFumetsu  <spencer hiscox>
#
#
#

# @InochiFumetsu   <spencer hiscox>
*/.github/ @InochiFumetsu
*/docs/ @InochiFumetsu

# @username   <Esteban Heidrich>


# @username   <Jack Roberts>


# @username   <Milan Djordjevic>
