#CODEOWNERS file sets permissions for side-branches

#district_12:
#  @InochiFumetsu  <spencer>
#  @Hey1121        <esteban>
#
#

*master/ @InochiFumetsu @Hey1121

# @InochiFumetsu   <spencer hiscox>
*/.github/ @InochiFumetsu
*/docs/ @InochiFumetsu
*/temp/ @InochiFumetsu

# @username   <Esteban Heidrich>


# @username   <Jack Roberts>


# @username   <Milan Djordjevic>
